<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Rental Contract</title>
</head>
<body>
    <form action="">
    <h1>Choose start and end date for your contract</h1>
    <div>Enter start date</div>
        <input type="datetime-local" name="${startDate}" required>
    <div>Enter end date</div>
        <input type="datetime-local" name="${endDate}" required>

    <div>Choose carType</div>
        <input type="radio" id="family" name="${carType}" value="family">
        <input type="radio" id="luxury" name="${carType}" value="luxury">
        <input type="radio" id="sport" name="${carType}" value="sport">
        <input type="radio" id="" name="${carType}" value="no preference" checked>

    <a th:href="@{'/rentalContract/createRentalContract2/'+${startDate}+'-'+${endDate}+'-'+${carType}}">
        <button>Continue</button>
    </a>
    </form>
</body>
</html>
