<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Contract</title>
</head>
<body>
<h1>Contract info</h1>
<span th:text="${rentalContract.rentalContract_id}"></span>
<span th:text="${rentalContract.startDate}"></span>
<span th:text="${rentalContract.endDate}"></span>
<span th:text="${rentalContract.maxKm}"></span>
<span th:text="${rentalContract.startKm}"></span>
<span th:text="${rentalContract.totalPrice}"></span>
<span th:text="${rentalContract.licencePlate}"></span>
<span th:text="${customer.firstName}"></span>
<span th:text="${customer.lastName}"></span>

</body>
</html>