<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Customer</title>
</head>
<body>
    <h1>Create New Customer</h1>
    <form action="/createCustomer" method="post">
        <div>Enter first name</div>
        <input type="text" name="firstName" placeholder="Jon" required  pattern="[A-Za-z]">
        <div>Enter last name</div>
        <input type="text" name="lastName" placeholder="Due" required pattern="[A-Za-z]">
        <div>Enter e-mail</div>
        <input type="email" name="email" placeholder="jondue@example.com" required>
        <input type="submit" value="Create New Customer">
    </form>
</body>
</html>